Repository firecracker-microvm/firecracker, pull requests merged in 2021-02, with the labels that each got.

#2449 feature/file_based_seccomp: Triage allowlist for thread categories
  resources/seccomp/aarch64-unknown-linux-musl.json
  resources/seccomp/x86_64-unknown-linux-musl.json
Labels: Feature: Seccomp, Status: Reviewer

#2442 aarch64: unit tests for aarch64 logic
  src/arch/src/aarch64/fdt.rs
  src/arch/src/aarch64/regs.rs
  src/vmm/src/vstate/vcpu/aarch64.rs
  src/vmm/src/vstate/vcpu/mod.rs
  tests/integration_tests/build/test_coverage.py
Labels: Feature: CPU Support: ARM, Quality: Automated Testing, Quality: Improvement

#2465 Increase ARM process startup time baseline
  tests/integration_tests/performance/test_process_startup_time.py
Labels: Status: Reviewer
