Repository firecracker-microvm/firecracker, pull requests merged in 2022-12, with the labels that each got.

#3314 chore: Update snap/restore baseline
  tests/integration_tests/performance/configs/test_snap_restore_performance_config_4.14.json
Labels: Quality: CI, Performance: Boot Time

#3315 chore: snap_restore_performance 4.14. m6i baselines
  tests/integration_tests/performance/configs/test_snap_restore_performance_config_4.14.json
Labels: Quality: CI, Performance: Boot Time

#3327 Fix `bindgen.sh`
  tools/bindgen.sh
Labels: Quality: Bug, Status: Reviewer

#3105 CPUID (2/3): Bit fields
  Cargo.lock
  Cargo.toml
  src/bit-fields-macros/Cargo.toml
  src/bit-fields-macros/src/builder.rs
  src/bit-fields-macros/src/lib.rs
  src/bit-fields-macros/src/parser.rs
  src/bit-fields-macros/src/utils.rs
  src/bit-fields/Cargo.toml
  src/bit-fields/src/bit.rs
  src/bit-fields/src/bit_range.rs
  src/bit-fields/src/errors.rs
  src/bit-fields/src/example.rs
  src/bit-fields/src/lib.rs
  tests/framework/dependencies.txt
  tests/integration_tests/build/test_coverage.py
Labels: Feature: CPU Configuration, Codebase: Usability, Status: Reviewer
