Repository firecracker-microvm/firecracker, pull requests merged in 2023-02, with the labels that each got.

#3413 Move cpuid into module
  Cargo.lock
  src/cpuid/Cargo.toml
  src/cpuid/build.rs
  src/cpuid/src/template/amd/mod.rs
  src/cpuid/src/template/amd/t2a.rs
  src/cpuid/src/template/intel/t2cl.rs
  src/vmm/Cargo.toml
  src/vmm/build.rs
  src/vmm/src/cpuid/amd/indexing.rs
  src/vmm/src/cpuid/amd/leaves.rs
  src/vmm/src/cpuid/amd/mod.rs
  src/vmm/src/cpuid/amd/normalize.rs
  src/vmm/src/cpuid/amd/registers.rs
  src/vmm/src/cpuid/common.rs
  src/vmm/src/cpuid/cpuid_ffi.rs
  src/vmm/src/cpuid/indexing.rs
  src/vmm/src/cpuid/intel/indexing.rs
  src/vmm/src/cpuid/intel/leaves.rs
  src/vmm/src/cpuid/intel/mod.rs
  src/vmm/src/cpuid/intel/normalize.rs
  src/vmm/src/cpuid/intel/registers.rs
  src/vmm/src/cpuid/leaves.rs
  src/vmm/src/cpuid/mod.rs
  src/vmm/src/cpuid/normalize.rs
  src/vmm/src/cpuid/registers.rs
  src/vmm/src/lib.rs
  src/vmm/src/persist.rs
  src/vmm/src/vstate/vcpu/x86_64/cpuid_templates.rs
  src/vmm/src/vstate/vcpu/x86_64/mod.rs
  src/vmm/tests/integration_tests.rs
  tests/framework/dependencies.txt
  tests/integration_tests/build/test_coverage.py
Labels: Feature: CPU Configuration

#3382 fix: CPUID pass-through
  src/vmm/src/cpuid/amd/mod.rs
  src/vmm/src/cpuid/cpuid_ffi.rs
  src/vmm/src/cpuid/intel/mod.rs
  src/vmm/src/cpuid/mod.rs
  src/vmm/src/vstate/vcpu/x86_64/mod.rs
  tests/integration_tests/build/test_coverage.py
Labels: Feature: CPU Configuration

#3419 docs: update supported platforms
  README.md
  docs/snapshotting/snapshot-support.md
Labels: Documentation: Design, Status: Reviewer

#3421 Fix perf tests
  tests/framework/utils.py
Labels: Quality: CI, Status: Reviewer

#3420 perf: update snaphot perf baselines for x86/5.10
  tests/integration_tests/performance/test_snapshot_perf.py
Labels: Quality: Automated Testing, Performance: Misc, Status: Reviewer

#3422 refactor: cpuid `get_max_cpus_per_package_test()`
  src/vmm/src/cpuid/normalize.rs
  tests/integration_tests/build/test_coverage.py
Labels: Feature: CPU Configuration

#3434 docs: Fix commit title to 72 character limit
  CONTRIBUTING.md
Labels: Documentation: Code

#3429 fix(tests): accept multiple firecracker threads with the same name
  tests/integration_tests/performance/test_block_performance.py
  tests/integration_tests/performance/test_network_tcp_throughput.py
  tests/integration_tests/performance/test_vsock_throughput.py
Labels: Quality: CI, Status: Reviewer

#3411 fix: Documenting `unsafe` in CPUID
  src/vmm/src/cpuid/amd/indexing.rs
  src/vmm/src/cpuid/amd/normalize.rs
  src/vmm/src/cpuid/common.rs
  src/vmm/src/cpuid/cpuid_ffi.rs
  src/vmm/src/cpuid/indexing.rs
  src/vmm/src/cpuid/intel/indexing.rs
  src/vmm/src/cpuid/intel/normalize.rs
  src/vmm/src/cpuid/mod.rs
  tests/integration_tests/build/test_coverage.py
Labels: Feature: CPU Configuration

#3459 fix: memory monitor usage removed from snap restore test
  tests/integration_tests/performance/test_snapshot_restore_performance.py
Labels: Quality: Bug
